/* Hero Section */

.hero {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
}

.hero p {
    margin-top: 25px;

    font-size: 20px;
    color: rgb(145, 145, 145);
}

.hero a {
    display: inline-block;

    margin-top: 25px;

    padding: 16px 35px;

    background: #2563eb;
    color: white;

    border-radius: 8px;

    text-decoration: none;

    font-size: 20px;
    font-weight: bold;
}

.hero a:hover {
    background: #1155e7;
    color: white;
}

/* Feature Section */

.features {
    padding: 50px 0;
    background: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.feature-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.feature-card {
    width: 320px;
    padding: 30px;
    text-align: center;
}

.feature-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.feature-card p {
    font-weight: bold;
    font-size: 25px;
}

/* How-it-works Section */

/* Title */

.how-it-works {
    height: 500px;
}

.how-it-works-title {
    padding: 50px 0;
    text-align: center;
}

.how-it-works-title span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #1155e7;
}

.how-it-works-title h2 {
    width: 500px;
    margin: 0 auto;
    font-size: 30px;
}

/* Steps */

.steps-container {
    margin-top: 40px;
    max-width: 1080px;
}

.step {
    display: flex;
    justify-content: space-between;

    gap: 120px;

    margin-bottom: 72px;
    height: 400px;
}

.step-image,
.step-content {
    flex: 1;
}

.video-placeholder {
    height: 360px;
    width: 540px;
    background: #ddd;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.step-content {
    max-width: 450px;
}

.step-reverse {
    flex-direction: row-reverse;
}

.step-content h3 {
    font-size: 40px;
    margin-bottom: 16px;
}

.step-content p {
    font-size: 16px;
    line-height: 25px;
}