{% extends "accounts_layout.html" %}

{% block title %} Welcome back! {% endblock %}
{% block subtitle %} Sign in and continue building your resume. {% endblock %}


{% block form %}

    <input type="text" name="username" placeholder="Username">
    
    <input type="password" name="password" placeholder="Password">

{% endblock %}


{% block button_text %} Sign in {% endblock %}


{% block access_links %}

    <p class="access-link">Forget Password?<a href="#"> Reset</a>
    <p class="access-link">Don't have an account?<a href="{% url "register" %}"> Sign up</a>

{% endblock %}