{% extends "accounts_layout.html" %}

{% block title %} Sign up! {% endblock %}
{% block subtitle %} Create a free account with your email. {% endblock %}

{% block form %}

    {% for field in form %}
        {{ field }}

        {% if field.errors %}

            <div class="field-errors">
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

        {% endif %}

    {% endfor %}

{% endblock %}

{% block button_text %} Sign up {% endblock %}

{% block access_links %}
    <p class="access-link">Already have an account? <a href="{% url "login" %}"> Sign in</a>
{% endblock %}