{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <h1>
            Create your professional CV
        </h1>

        <p>
            Create, customize, and download your professional CV in minutes!
        </p>

        <a href="#" class="btn-primary">
            Create CV
        </a>

    </div>

</section>


<section class="features">

    <div class="container">

        <div class="feature-grid">

            <div class="feature-card">
                <img src="{% static 'images/icons/easy-to-use.svg' %}" alt="Easy to use">
                <p>Easy to Use</p>
            </div>


            <div class="feature-card">
                <img src="{% static 'images/icons/beautiful-design.svg' %}" alt="Beautiful Design">
                <p>Beautiful Design</p>
            </div>


            <div class="feature-card">
                <img src="{% static 'images/icons/export-pdf.svg' %}" alt="Export to PDF">
                <p>Export to PDF</p>
            </div>

        </div>

    </div>

</section>

{% endblock %}