{% load static %}

<link rel="stylesheet" href="{% static "css/dashboard.css" %}">

<div class="dashboard">

    <header class="navbar">

        <a href="/" class="logo">
            Resume<span>Lab</span>
        </a>

        <div class="navbar-user">

            <div class="user-avatar">
                <div class="avatar-placeholder">
                    🫣
                </div>
            </div>

            <div class="user-info">
                <p>Jan Nowak</p>
            </div>

            <div class="user-menu">
                <!-- Dropdown -->
            </div>

        </div>

    </header>

    <div class="dashboard-content">

        <aside class="sidebar">
            <!-- Menu -->
        </aside>

        <main class="content">
            <!-- Dashboard -->
        </main>

    </div>

</div>