{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title> 
            {% block title %} 
                CV Builder 
            {% endblock %} 
        </title>

        <link rel="stylesheet" href="{% static "css/style.css" %}">
            {% block extra_css %}

            {% endblock %}
        </head>
    </head>


    <body>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="logo">CV Builder</a>

                <div class="nav-links">
                    <a href="{% url "login" %}" class="btn-primary">Login</a>
                    <a href="{% url "register" %}" class="btn-secondary">Get Started</a>
                </div>
            </div>
        </nav>


        <main class="main-content">
            {% block content %} {% endblock %}
        </main>


        <footer class="footer">

            <div class="footer-container">

                <div class="footer-links">
                    <a href="#">CV Builder</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">FAQ</a>
                </div>

                <div class="rights">
                    <p>© 2026 CV Builder. All rights reserved</p>
                </div>
                
            </div>

        </footer>

    </body>
</html>