{% load static %}

<link rel="stylesheet" href="{% static "css/dashboard.css" %}">

<div class="dashboard-container">

    <div class="nav-bar">

        <div class="logo-container"> 
            <a href="/" class="logo">
                Resume<span>Lab</span>
            </a>
        </div>

        <div class="user-container">

            <div class="user-img">

            </div>

            <div class="user-profile">

            </div>

            <div class="user-settings">

            </div>
        
        </div>

    </div>